name: Markdown Lint
on:
  push:
  pull_request:

jobs:
  mdl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: |
            **/*.md
{
  "MD013": false,   // disable line-length rule
  "MD033": false    // disable inline-HTML rule (optional)
}